.header {
  padding: 8px 0;
  @include tablet {
    padding: 20px 15px;
  }
  @include desktop {
    padding: 30px 25px;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    // что бы не прыгала высота при верстке( что бы не переверстывать при изменении лого)
    // что бы заказчик мог сам исправить можно прописать в хтмл все размеры
    height: 40px;
    // этим мы отталкиваем максмально кноку добавить книгу,
    // что бы потом ее отттолкнуть на 118 от поиска
    margin-right: auto;

    @include laptop {
      height: 66px;
    }
  }

  &__btn-add {
    // изначально  (на мобильноей версии) этой кнопки нет. скрываю ее. она появляется в хедере на десктопе потому что
    display: none;

    @include laptop {
      display: block;
      height: 50px;
      width: 320px;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      color: $light;
      border: 0;
      border-radius: 8px;
      background: $primary;
      margin-right: 102px;
    }
  }

  &__btn {
    //  ля лучшего уравления в мобильной версии  бы будем занимать все пространство, как и логотип,
    // что бы пальцем проще попасть было, но картинку оставим нормального размера, только с отступами
    width: 40px;
    height: 40px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    background-position: right;
  }

  &__btn_search {
    background-image: url("../img/search.svg");
  }
  &__btn_delete {
    background-image: url("../img/delete.svg");
  }
  &__btn_back {
    background-image: url("../img/back.svg");
    background-position: left;
  }
}
