.star {
  &__list {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  &__icon {
    width: 36px;
    height: 36px;
    background-image: url(../img/star-o.svg);
    background-repeat: no-repeat;
    background-size: 36px;
    cursor: pointer;
  }
  &__radio {
    position: absolute;
    appearance: none;
  }

  // выбираю все после указанного элемента и делаю реверс флэкса, что бы выбирать не с конца
  &__icon:hover,
  &__icon:hover ~ &__icon,
  &__radio:checked ~ &__icon {
    background-image: url(../img/star.svg);
  }
}
